@use "reset";
@use "variables/global";
@use "themes/normal";
@use "themes/dark";

.app {
    font: var(--font-m);
    background: var(--inverted-bg-color);
    color: var(--primary-color);
    min-height: 100vh;

    // Для центровки Loader i18n
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-page {
    display: flex;
}

.content-wrapper {
    flex-grow: 1;
    padding: 10px;
}