.AppError {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-align: center;
}

.message{
    color: red;
}

.button{
    padding: 5px 10px;
    cursor: pointer;
}